- page = 0
- search = '.'
- req = request.fullpath

- if req != '/'
	- if req =~ /search/
		- search = req.gsub("/?search=", "").gsub("+", " ")
	- if req =~ /page/
		- page = req.gsub("/?page=","").to_i

- size = @post.size

- if page < 0
	- page = 0
- if page > (size/15)
	- page = (size/15)
- range = page*15

- postlist = @post.limit(15).offset(range).select{|post| post.title.downcase =~ /#{search}/i || post.tags =~ /#{search}/i}

.navbar.navbar-inverse.postbar.navbar-blue
	.container-fluid.blue-fluid
		.navbar-header
			%button.navbar-toggle{"data-target" => "#blueBar", "data-toggle" => "collapse", :type => "button"}
				%span.icon-bar
				%span.icon-bar
				%span.icon-bar
			.wrapper
				%a.btn.btn-primary.btn-lg.postbar-button{:href => new_post_path, :role => "button"} Create Thread
		#blueBar.collapse.navbar-collapse
			%ul.nav.navbar-nav.navbar-special.postbar.textbar
				- if (page < 3)
					%a{:href => "/?page=#{page-1}"}
						%span.glyphicon.glyphicon-chevron-left
					- i = 0
					- for i in (0...5)
						- if i == page
							%a{:href => "/?page=#{i}"}
								%b= i+1
						- else
							%a{:href => "/?page=#{i}"}= i+1
				- else
					%a{:href => "/?page=#{page-3}"}
						%span.glyphicon.glyphicon-chevron-left
					%a{:href => "/?page=#{page-2}"}= page-1
					%a{:href => "/?page=#{page-1}"}= page
					%a{:href => "/?page=#{page}"}
						%b= page+1
					%a{:href => "/?page=#{page+1}"}= page+2
					%a{:href => "/?page=#{page+2}"}= page+3
				%a{:href => "/?page=#{page+3}"}
					%span.glyphicon.glyphicon-chevron-right
			%ul.nav.navbar-nav.navbar-right.selected-search
				%form#search-input.input-group{:method => "get", :action => req}
					%input.btn.btn-primary.btn-lg.postbar-search{:maxlength => "28", :placeholder => "Search", :type => "text", :name => "search"}
					%a
						%button.glyphicon.glyphicon-search.SearchIcon.searchbuttonicon{:type => "submit"}

	.row.postbox
		#posts
			- postlist.each do |post|
				- post_tags = post.tags
				- if !(post_tags.nil?)
					- post_tags = post_tags.split(" ")
				.post
					.threadbox
						.threadtitle{:style => "margin-left: 95px;"}
							%h2.title= link_to post.title, post
						.threadinfo
							%p.date
							Posted
							= time_ago_in_words(post.created_at)
							ago. 
							- if !(post.comments.last.nil?)
								Last comment
								= time_ago_in_words(post.comments.last.created_at)
								ago.
							%br/
							Thread created by
							- if post.user.name.nil? || post.user.name.strip.empty?
								= post.user.email + "."
							- else
								= post.user.name.strip + "."
						.tags
							- if !(post_tags.nil?)
								- post_tags.each do |tag|
									- hashtag = "#" + tag
									%a{:href => "/?search=#{tag}"}
										%kbd #{hashtag}
							-#- else
							-#	%a{:href => "#"}
							-#		%kbd #Untagged
						.avatar
							%img.user-pic= image_tag(post.user.avatar.url(:thumb))
